.logo{
    margin-left: 50px;
}

div.form
{
    display: block;
    text-align: center;
}

form{
    display: inline-block;
    padding: 60px;
    width: 700px;
    border-style: solid;
    border-color: rgb(4, 68, 4);
    border-radius: 20px;
    margin: 100px;
    text-align: left;
}

button.button1{
    background-color: rgb(4, 68, 4);
    color: honeydew;
}

.formText{
    color: rgb(34, 25, 13);
}
